@model IEnumerable<BookingSystem.Web.Models.AirportViewModel>

@{
    ViewBag.Title = "Home Page";
}

<h2>Airports</h2>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Country</th>
    </tr>
    @foreach(var airport in Model)
    {
    <tr>
        <td>@airport.Id</td>
        <td>@airport.Name</td>
        <td>@airport.Address</td>
        <td>@airport.Country</td>
        <td>@Html.ActionLink("Show", "Show", new { id = airport.Id })</td>
        <td>@Html.ActionLink("Edit", "Edit", new { id = airport.Id })</td>
        <td>@Html.ActionLink("Delete", "Delete", new { id = airport.Id })</td>
    </tr>
    }
</table>
